body{
    background-color: #333;
    color: aliceblue;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


header{
    flex: 1 1 1;
    background-color: #2c2c2c;
    display: flex;
    justify-content: center;
    gap: 2em;
    
}


main{
    flex: 1 1 15;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid sandybrown;
    font-size: 2rem;

}

#resultName{
    margin-top: 0px;
}


.results{
    display: flex;
    justify-content: center;
    gap: 5vw;
}


.playerSide{
    display: flex;
    flex-direction: column;
    height: auto;
}

.plaStyleHelper{
    display: flex;
    align-items: center;
}

.computerSide{
    display: flex;
    flex-direction: column;
    height: auto;
}

.comStyleHelper{
    display: flex;
    align-items: center;
}


#resultComputer{
    background-color: salmon;
}



/*buttons section */

.buttons{
    display: flex;
    justify-content: center; 
    gap: 4vw;
}

button{
    height: 15vh;
    width: 10vw;
    background-color: #444; 
    border: none;
}

button:hover{
    border: 3px solid salmon;
    transition: 0.7s;
    background-color: #555;
}

button:active{
    border: 4px solid seashell;
    transition: 0.1s;
}


/* footer section */

footer{
    flex: 1 1 1;
    font-size: 1em;
    display: flex;
    justify-content: center;
    gap: 0.5vw;
    justify-self: flex-end;
    align-items: center;
    background-color: #2c2c2c;
}

.gitLink{
    margin-top: 1vh;
}


.imgOfGithub{
    transition: transform .7s ease-in-out;
}

.imgOfGithub:hover{
    transform: rotate(360deg);
}